<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="PowerUser.IsEnabled" value="False"/>
        <add key="PowerUser.AutoNext.IsSubscribed" value="True"/>
        <add key="PowerUser.ShowExtendedOptions.IsSubscribed" value="True"/>
        <add key="PowerUser.SuppressWarnings.IsSubscribed" value="True" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>