<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="PowerUser.IsEnabled" value="False"/>
        <add key="PowerUser.AutoNext.IsSubscribed" value="True"/>
        <add key="PowerUser.ShowExtendedOptions.IsSubscribed" value="True"/>
        <add key="PowerUser.SuppressValueChangedWarnings.IsSubscribed" value="True"/>
        <add key="PowerUser.SuppressValidationWarnings.IsSubscribed" value="True"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
